<div class="show">

  <div class="card"  style="width: 50rem; ">
        <div class="container_imgs">
          <div class="image">
        <img src = "<%=@adventure.photos.first.url%>"class = "card-img-top" height=300 width=250 alt="...">
          </div>
          <div class="image">
        <img src = "<%=@adventure.photos.second.url%>" class = "card-img-top" height=300 width=250 alt="...">
        </div>
        <div class="image">
        <img src = "<%=@adventure.photos.third.url%>" class = "card-img-top" height=300 width=250 alt="...">
          </div>
        </div>

  </div>

    <ul class="list-group list-group-flush">
    <div class= "card-body">
      <li class = "list-group-item"> <%= @adventure.title %>  </li>
      </div>
      <div class= "card_description">
        <li class = "list-group-item"> <%= @adventure.decription %>  </li>
        </div>
        <li class = "list-group-item"> Location: <%= @adventure.location %> </li>
        <li class = "list-group-item"> Price: <%= @adventure.price %> $ </li>
      </ul>
  </div>
