<div class="row">
  <div class="col-12">
    <div class="img-fluid"  style="width: 50rem; ">
      <div class ="container_imgs">
        <img src = "<%=@adventure.photos.third.url%>" class = "card-img-top" height=300 width=250 alt="...">
        <div class ="image_right">
            <img src = "<%=@adventure.photos.first.url%>"class = "card-img-top" height=300 width=250 alt="...">
        </div>
        <div class ="image_left">
            <img src = "<%=@adventure.photos.second.url%>" class = "card-img-top" height=300 width=250 alt="...">
        </div>
      </div>
    </div>

    <div class = "row col-8">
      <ul class ="list-group list-group-flush">
        <div class = "title-body">
            <li class = "list-group"> <%= @adventure.title %> <i class="bi bi-person-circle"> </li>
        </div>
        <div class = "card_description p-3">
          <li class = "list-group-item"> <%= @adventure.decription %>  </li>
          <li class = "list-group-item"> Location: <%= @adventure.location %> </li>
          <li class = "list-group-item"> duration: <%= @adventure.duration %> </li>
          <li class = "list-group-item"> Price: <%= @adventure.price %> $ </li>

        </div>
      </ul>



    <section class="portfolio-experiment">
  <a>
    <span class="text"><%= link_to "Book this adventure", new_adventure_booking_path(@adventure)%></span>
    <span class="line -right"></span>
    <span class="line -top"></span>
    <span class="line -left"></span>
    <span class="line -bottom"></span>
  </a>
</section>

  </div>
</div>
