<div class="row col-12">
  <div class="img-fluid"  style="width: 50rem; ">
    <div class ="container_imgs">
      <img src = "<%=@adventure.photos.third.url%>" class = "card-img-top" height=300 width=250 alt="...">
    <div class ="image_right">
        <img src = "<%=@adventure.photos.first.url%>"class = "card-img-top" height=300 width=250 alt="...">
    </div>
    <div class ="image_left">
        <img src = "<%=@adventure.photos.second.url%>" class = "card-img-top" height=300 width=250 alt="...">
    </div>
  </div>
</div>
<div class = "row col-8">
  <ul class ="list-group list-group-flush">
    <div class = "title-body">
        <li class = "list-group"> <%= @adventure.title %> <i class="bi bi-person-circle"> </li>
    </div>
    <div class = "card_description">
      <li class = "list-group-item"> <%= @adventure.decription %>  </li>
      <li class = "list-group-item"> Location: <%= @adventure.location %> </li>
      <li class = "list-group-item"> Price: <%= @adventure.price %> $ </li>
    </ul>
  </div>
</div>
<div class = "row col-4 >

</div>
