<h1 class="kl">KOH-LANTA ADVENTURE</h1>

<p class= "descr">Rent a incredible adventure from all over the world... and beyond</p>

<%# <%= link_to "Create a new adventure", new_adventure_path, class: "btn btn-flat" %>


<div class="container">

  <div class="cards">
  <% @adventures.each do |adventure| %>

  <div class="card">
    <%= link_to adventure_path(adventure), :action => 'go' do %>
      <%if adventure.photos%>
        <%= cl_image_tag(adventure.photos.first.key, :transformation=>[
        {:height=>300, :width=>250, :crop=>"scale"},
        ]) %>
      <% end %>
      <li class="ms-2"> <%= adventure.title %></li>
      <li class="ms-2"> Price: <%= adventure.price %> $</li>
      <li class="ms-2"> <%= adventure.location %></li>
    <% end %>
</div>
  <% end %>
</div>


<div class="other pt-3"><%= link_to "Create a new adventure", new_adventure_path, class: "btn btn-primary" %></div>


</div>
