<h1 class="kl">KOH-LANTA ADVENTURE</h1>

<p class= "descr">Rent a incredible adventure from all over the world... and beyond</p>

<%# <%= link_to "Create a new adventure", new_adventure_path, class: "btn btn-flat" %>


<div class="container">

  <div class="cards">
  <% @adventures.each do |adventure| %>

  <div class="card m-3">
    <%= link_to adventure_path(adventure), :action => 'go' do %>

      <%if adventure.photos.attached?%>
        <%= cl_image_tag(adventure.photos.first.key, :transformation=>[
        {:height=>300, :width=>250, :crop=>"scale"},
        ]) %>
      <% end %>
      <li class="ms-2"> <%= adventure.title %></li>
      <li class="ms-2"> <%= adventure.location %></li>
      <li class="ms-2"> <%= adventure.duration %></li>
      <li class="ms-2"> Price: <%= adventure.price %> $</li>

    <% end %>
</div>
  <% end %>
</div>
<div>

  <section class="portfolio-experiment mb-3">
  <a>
    <span class="text"><%= link_to "create this adventure", new_adventure_path, class: "btn-shiny" %></span>
    <span class="line -right"></span>
    <span class="line -top"></span>
    <span class="line -left"></span>
    <span class="line -bottom"></span>
  </a>
</section>

</div>
