<div class="container">
  <div class="text-white">

    <h3 class="avatar_username"><%= image_tag "https://res.cloudinary.com/dtlwkdqpv/image/upload/v1677676328/denis-brogniart_ehh2nh.jpg", class: "avatar-denis", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %><%= current_user.username %></h3>

    <%#= current_user.adventures.each do |adventure| %>
      <%#= aventure.location %>
    <%# end %>
  </div>
</div>
<div class="container">
  <div class="other pt-3">
    <%= link_to "Create a new adventure", new_adventure_path, class: "btn btn-dark" %>
  </div>

  <div class="row justify-content-envenly mt-4">
    <div class="title-cards col-6">
      <h3>My adventures</h3>
    </div>
    <div class="title-cards col-6">
      <h3>My reservations</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-envenly mt-2">
    <div class="dashboard-cards col-6">
      <% current_user.adventures.each do |adventure| %>

        <div class="dashboard-card">
          <%= link_to adventure_path(adventure), :action => 'go' do %>

            <%if adventure.photos.attached?%>
              <%= cl_image_tag(adventure.photos.first.key, :transformation=>[
              {:height=>300, :width=>250, :crop=>"scale"},
              ]) %>
            <% end %>
            <li class="ms-2"> <%= adventure.title %></li>
            <li class="ms-2"> <%= adventure.location %></li>
            <li class="ms-2"> <%= adventure.duration %></li>
            <li class="ms-2"> Price: <%= adventure.price %> $</li>
            <li class="ms-2"><%= link_to "", adventure_path(adventure), class: "fa-regular fa-trash-can", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this adventure?" } %></li>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="dashboard-cards col-6">
      <% unless current_user.bookings.empty? %>

        <% current_user.bookings.each do |booking| %>

          <div class="dashboard-card">
            <%= link_to adventure_path(booking.adventure), :action => 'go' do %>

              <%if booking.adventure.photos.attached?%>
                <%= cl_image_tag(booking.adventure.photos.first.key, :transformation=>[
                {:height=>300, :width=>250, :crop=>"scale"},
                ]) %>
              <% end %>
              <li class="ms-2"> <%= booking.adventure.title %></li>
              <li class="ms-2"> <%= booking.adventure.location %></li>
              <li class="ms-2"> <%= booking.start_date %></li>
              <li class="ms-2"> <%= booking.end_date %></li>
              <li class="ms-2"><%= link_to "", profil_path, class: "fa-regular fa-trash-can", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this adventure?" } %></li>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
