<div class="container">
  <div class="text-white">

    <%= image_tag "https://res.cloudinary.com/dtlwkdqpv/image/upload/v1677676328/denis-brogniart_ehh2nh.jpg", class: "avatar-denis", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <%= current_user.username %>

    <%#= current_user.adventures.each do |adventure| %>
      <%#= aventure.location %>
    <%# end %>
  </div>
</div>
<div class="container">
  <div class="other pt-3">
    <%= link_to "Create a new adventure", new_adventure_path, class: "btn btn-dark" %>
  </div>

  <div class="row justify-content-envenly mt-4">
    <div class="title-cards col-6">
      <h3>Booking</h3>
    </div>
    <div class="title-cards col-6">
      <h3>My reservation</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-envenly mt-2">
    <div class="dashboard-cards col-6">
      <% current_user.adventures.each do |adventure| %>

        <div class="dashboard-card">
          <%= link_to adventure_path(adventure), :action => 'go' do %>

            <%if adventure.photos.attached?%>
              <%= cl_image_tag(adventure.photos.first.key, :transformation=>[
              {:height=>300, :width=>250, :crop=>"scale"},
              ]) %>
            <% end %>
            <li class="ms-2"> <%= adventure.title %></li>
            <li class="ms-2"> <%= adventure.location %></li>
            <li class="ms-2"> <%= adventure.duration %></li>
            <li class="ms-2"> Price:  <%= adventure.price %> $</li>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="dashboard-cards col-6">
      <% current_user.adventures.each do |adventure| %>

        <div class="dashboard-card">
    <%= link_to adventure_path(adventure), :action => 'go' do %>

      <%if adventure.photos.attached?%>
        <%= cl_image_tag(adventure.photos.first.key, :transformation=>[
        {:height=>300, :width=>250, :crop=>"scale"},
        ]) %>
      <% end %>
      <li class="ms-2"> <%= adventure.title %></li>
      <li class="ms-2"> <%= adventure.location %></li>
      <li class="ms-2"> <%= adventure.duration %></li>
      <li class="ms-2"> Price:  <%= adventure.price %> $</li>

    <% end %>
</div>
      <% end %>
    </div>
  </div>
</div>
